<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Белкин К.В. {{lab_number}} </title>
</head>
<body>
    <header>
        WEB - Програмирование, часть 2. {{lab_number}}
    </header>

    <main>
        11*28 = {{rezylt_1}}<br>
        8452/793 = {{rezylt_2}}<br>
        45<sup>8</sup>= {{rezylt_3}}
    </main>

    <footer>
        &copy; {{name}}, ФБИ-11, 3 Курс, 2023
    </footer>
    
</body>
</html>