<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}{{name}},{% else %}Анонимус,{% endif %} {% if lab_number %}{{lab_number}}, {% else %} Ты что все сделал? {% endif %}</title>
    <link rel="stylesheet" href= "{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB - Програмирование, часть 2. {% if lab_number %}{{lab_number}}, {% else %} Ты что все сделал? {% endif %}
    </header>

    <main>
        11*28 = {{rezylt_1}}<br>
        8452/793 = {{rezylt_2}}<br>
        45<sup>8</sup>= {{rezylt_3}}
    </main>

    <footer>
        &copy; 
        {% if name %}
            {{name}},
        {% else %}
            Анонимус,
        {% endif %}
         {% if group %}   
            {{group}},
        {% else %}
            Рыцарь ТАЛЧа,
        {% endif %}
        {% if kurs %}   
            {{kurs}},
        {% else %}
            Выжившие,
        {% endif %} 
        2023
    </footer>
    
</body>
</html>