<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block lab %} Лабараторная 5 {% endblock %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База знаний</title>
</head>
<body>

    <a href="/lab5/check_titles" style="position: relative; left: 43%;">Посмотреть заметки</a>
    <a href="/lab5/create_article" style="position: relative; left: 45%;">Создать заметку</a>
    <button style="position: relative; left: 47%; color: rgb(61, 119, 28); background-color: rgb(48, 94, 26);" href="">
        <a href="/lab5/sing_in" style="color: rgb(52, 253, 2)" target="_self">Войти</a> 
    </button>
    <button style="color: rgb(61, 119, 28); background-color: rgb(48, 94, 26); left: 48%; position: relative;" href="">
        <a style="color: rgb(52, 253, 2)" href="/lab5/register" target="_self">Регистрация</a>
    </button>
    <span  style="left: 49%; position: relative; color:green">{{ username }}</span>

    <br>
    <a href="/lab5/users" target="_parent">Пользователи</a><br>
    <a href="/lab5/register" target="_parent">Регистрация</a><br>

</body>
</html>

{% endblock %}